# Core Requirements
fastapi
uvicorn[standard]
pydantic

# Azure Specific Requirements
azure-identity
azure-ai-inference
azure-mgmt-redis
azure-functions
azure-keyvault-secrets
azure-search-documents
redis
redis_entraid

jinja2
dotenv
aiohttp
httpx
pyjwt